html,
body,
pre,
code,
kbd,
samp {
    font-family: "Press Start 2P", system-ui;
}

body {
    background-color: rgb(33, 37, 41);
    padding: 20px;
}

main>.statistics p:not(:first-child) {
    display: flex;
    justify-content: space-between;
    border-bottom-style: dashed;
}

main>.statistics span {
    justify-self: right;
}

.nes-list.is-disc li::before,
.nes-list.is-circle li::before {
    color: #fff
}
