<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto&family=VT323&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/nes.css@latest/css/nes.min.css">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <main>
        <div class="nes-container is-dark with-title statistics">
            <p class="title">Game Statistics (totals)</p>
            <p>Games: <span>{{ .TotalGames }}</span></p>
            <p>Started Games: <span>{{ .TotalStartedGames }}</span></p>
            <p>Abandoned Games: <span>{{ .TotalAbandonedGames }}</span></p>
            <p>Unique Players: <span>{{ .TotalPlayers }}</span></p>
            <p>Connected Players: <span>{{ .TotalConnectedPlayers }}</span></p>
        </div>
        <br />
        <div class="nes-container is-dark with-title active-games">
            <p class="title">Active Games</p>
            <div class="lists is-dark">
                <ul class="nes-list is-dark is-circle">
                    {{ if eq (len .ActiveGames) 0 }}
                    <p>No active games</p>
                    {{ else }}
                    {{ range $_, $game := .ActiveGames }}
                    <li>{{ $game.GetStatus.String }} - {{ $game.GetPlayerCount true }} player(s)</li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </main>
</body>

</html>
